/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

#home {
  font-family: "Montserrat", sans-serif;
  width: 100%;
  height: 100%;
}
#home > header {
  height: 10vh;
  width: 100%;
  display: grid;
  grid-template-columns: 0.1fr 1fr;
  background-color: #074b6b;
}
#home > header #logo {
  margin-top: 10px;
  height: 65px;
}
#home > header nav {
  width: 100%;
  height: 100%;
}
#home > header nav ul {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}
#home > header nav ul li {
  display: inline-block;
  justify-self: center;
  align-self: center;
}
#home > header nav ul li a {
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
}
#home #main1 {
  display: grid;
  grid-template-rows: 0.8fr 1fr;
  width: 100%;
  height: 147vh;
}
#home #main1 #haut {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
#home #main1 #haut #haut-gauche {
  margin-top: 20vh;
  margin-left: 10vw;
}
#home #main1 #haut #haut-gauche span {
  color: #bb232e;
}
#home #main1 #haut #haut-gauche h1 {
  font-size: 3.5em;
}
#home #main1 #haut #haut-gauche h2 {
  margin-top: 5vh;
  font-size: 1.8em;
}
#home #main1 #haut #haut-droite {
  height: 60vh;
  background-color: #1c2f42;
  display: flex;
  justify-content: center;
  align-items: center;
}
#home #main1 #haut #haut-droite #image {
  height: 350px;
}
#home #main1 #bas {
  background-color: #bb232e;
  color: #ffffff;
}
#home #main1 #bas h2 {
  margin-top: 15vh;
  text-transform: uppercase;
  text-align: center;
  font-size: 2em;
}
#home #main1 #bas ul {
  width: 80%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 1rem;
  padding: 5em 0 12em 0;
}
#home #main1 #bas ul li {
  height: 100%;
  background-color: #ffffff;
  color: #1c2f42;
  padding: 1rem;
  border-radius: 5px;
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.2);
}
#home #main1 #bas ul li header #images {
  margin-top: 10px;
  height: 250px;
}
#home #main1 #bas ul li header > h3 {
  margin-top: 20px;
  font-size: 1.4em;
}
#home #main1 #bas ul li main h4 {
  margin-top: 40px;
}
#home #main1 #bas ul li main p {
  margin-top: 20px;
  margin-bottom: 20px;
}
#home #main1 #bas ul li footer a {
  color: #bb232e;
  font-weight: 600;
}
#home #footer1 {
  margin-top: 115px;
  height: 20vh;
  background-color: #1c2f42;
  color: #ffffff;
  display: grid;
  grid-template-rows: 5vh 8vh 5vh;
  text-align: center;
}
#home #footer1 > h2 {
  margin-top: 20px;
  font-size: 12px;
}
#home #footer1 #logo-bot {
  margin-top: 10px;
  height: 40px;
}
#home #footer1 > p {
  font-size: 12px;
}
#home #footer1 > p > a {
  color: #ffffff;
}

#critiques {
  font-family: "Montserrat", sans-serif;
  width: 100%;
  height: 100%;
}
#critiques > header {
  height: 10vh;
  width: 100%;
  display: grid;
  grid-template-columns: 0.1fr 1fr;
  background-color: #074b6b;
}
#critiques > header #logo {
  margin-top: 10px;
  height: 65px;
}
#critiques > header nav {
  width: 100%;
  height: 100%;
}
#critiques > header nav ul {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}
#critiques > header nav ul li {
  display: inline-block;
  justify-self: center;
  align-self: center;
}
#critiques > header nav ul li a {
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
}
#critiques #main2 section {
  padding-top: 2em;
}
#critiques #main2 section h2 {
  text-align: center;
  margin-bottom: 5rem;
  padding: 1.5rem;
  font-size: 3rem;
  background-color: #bb232e;
  color: #ffffff;
  font-weight: bold;
  text-transform: uppercase;
}
#critiques #main2 section ul {
  width: 80%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  column-gap: 1.5em;
  row-gap: 0.5em;
}
#critiques #main2 section ul li {
  height: 100%;
  background-color: #ffffff;
  color: #1c2f42;
  padding: 1rem;
}
#critiques #main2 section ul li header #images {
  margin-top: 10px;
  height: 250px;
}
#critiques #main2 section ul li header > h3 {
  margin-top: 20px;
  font-size: 1.4em;
}
#critiques #main2 section ul li main h4 {
  margin-top: 10px;
  margin-bottom: 10px;
}
#critiques #main2 section ul li footer a {
  color: #bb232e;
  font-weight: 600;
}
#critiques #footer2 {
  margin-top: 115px;
  height: 20vh;
  background-color: #1c2f42;
  color: #ffffff;
  display: grid;
  grid-template-rows: 5vh 8vh 5vh;
  text-align: center;
}
#critiques #footer2 > h2 {
  margin-top: 20px;
  font-size: 12px;
}
#critiques #footer2 #logo-bot {
  margin-top: 10px;
  height: 40px;
}
#critiques #footer2 > p {
  font-size: 12px;
}
#critiques #footer2 > p > a {
  color: #ffffff;
}

#equipe {
  font-family: "Montserrat", sans-serif;
  width: 100%;
  height: 100%;
  background-image: url("https://res03.sites.3wa.io/assets/files/inte/j13/cinepotes/assets/img/friends.png");
  background-repeat: no-repeat;
}
#equipe > header {
  height: 10vh;
  width: 100%;
  display: grid;
  grid-template-columns: 0.1fr 1fr;
  background-color: #074b6b;
}
#equipe > header #logo {
  margin-top: 10px;
  height: 65px;
}
#equipe > header nav {
  width: 100%;
  height: 100%;
}
#equipe > header nav ul {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}
#equipe > header nav ul li {
  display: inline-block;
  justify-self: center;
  align-self: center;
}
#equipe > header nav ul li a {
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
}
#equipe #main3 section {
  padding-top: 2em;
}
#equipe #main3 section h2 {
  text-align: center;
  margin-bottom: 5rem;
  padding: 1.5rem;
  font-size: 3rem;
  background-color: #bb232e;
  color: #ffffff;
  font-weight: bold;
  text-transform: uppercase;
}
#equipe #main3 section ul {
  width: 80%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  column-gap: 1.5em;
  row-gap: 0.5em;
}
#equipe #main3 section ul li {
  height: 100%;
  background-color: #ffffff;
  color: #1c2f42;
  padding: 1rem;
}
#equipe #main3 section ul li header #photos {
  height: 475px;
}
#equipe #main3 section ul li header > h3 {
  margin-top: 20px;
  font-size: 1.4em;
  text-align: center;
}
#equipe #main3 section ul li main p:first-of-type {
  margin-top: 10px;
  text-align: center;
  color: #2b7a65;
}
#equipe #footer3 {
  margin-top: 115px;
  height: 20vh;
  background-color: #1c2f42;
  color: #ffffff;
  display: grid;
  grid-template-rows: 5vh 8vh 5vh;
  text-align: center;
}
#equipe #footer3 > h2 {
  margin-top: 20px;
  font-size: 12px;
}
#equipe #footer3 #logo-bot {
  margin-top: 10px;
  height: 40px;
}
#equipe #footer3 > p {
  font-size: 12px;
}
#equipe #footer3 > p > a {
  color: #ffffff;
}

/*# sourceMappingURL=cinepotes.css.map */
